/*Google Font 読み込み*/
body {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 大見出しの設定 */
h1 {
    /* font-size:2.0rem; */
    font-size:2.4rem; /* 24px */
    font-weight: bold; /* 太字 */
    color: #ff7800; /* オレンジ色 */
    /* 注意事項：スタイルを変更したら必ず実機確認！ */
}
/*複数行にまたがっても
コメントアウトは機能します
*/
